:root {
  --primery-text-color: #757575;
  
  --titel-text-color: #212121;
  --accent-text-color: #2196f3;
  --heder-logo-color: #000000;
  --icon-color:#AFB1B8;
  --main-background-color: #ffffff;
  --section-fond-color: #2f303a;
  --border-portfolio: #eeeeee;
  --text-color-logo-adres-btn: #ffffff;
  --text-footer: #8C8D92;
  --filter-btn-tim-fon: #f5f4fa;
  --logo-btn-hover: #188ce8;
  --footer-icon: #44454E;
  --portfolio-section-gap: 30px;

  --animation: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before *::after {
  box-sizing: border-box;
}
/*Основные правки для всей страницы*/

body {
  background-color: var(--main-background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--primery-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*шапка страницы*/
.header {
  padding-top: 0px;
  padding-bottom: 0px; 
  border-bottom: 1px solid #ececec;
  flex-wrap: nowrap;
}

/*header-main-nav*/
.header-main-nav {
  display: flex;
  align-items: center;
}

/*Логотип в хедере*/

.header-logo {
  margin-right: 93px;
  font-family: Raleway;
  color: var(--heder-logo-color);
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
  line-height: 1.2;
}

.header-logo-accent {
  color: var(--accent-text-color);
}

.header-items {
  display: flex;
}

.heder-nav-list {
  margin-right: 50px;
}
.heder-nav-list:last-child {
  margin-right: 0;
}

.header-nav {
  color: var(--titel-text-color);

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  position: relative;

  font-weight: 500;
  text-decoration: none;

  line-height: 1.14;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function:var(--animation);
}
.header-nav:hover,
.header-nav:focus {
  color: var(--accent-text-color);
}
.header-nav.current {
  color: var(--accent-text-color);
}

.header-nav.header-nav::after{
  content:"";
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);

  opacity: 0;
  transition: opacity 250ms var(--animation);
  border-radius: 2px;
}
.header-nav:hover::after{
  opacity: 1;
  border-radius: 4px;
}
.header-nav.current::after{
  opacity: 1;
  border-radius: 4px;
}

/* .heder-contact-list {}*/
 

.header-contact-items {
  margin-left: auto;
  display: flex;
  align-items: center
}
.main-nav-list {
  display: flex;
}
.header-list {
  margin-left: 50px;
}

.header-list:first-child {
  margin-left: 0;
}

.header-contact {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primery-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);

}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-text-color);
}

.header-icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
 
}

/*Логотип страницы*/
.logo-section {

  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--section-fond-color);

  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  
  background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
  url(../imeges/imgfon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-titel {
  width: 696px;
  margin: auto;
  color: var(--text-color-logo-adres-btn);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-family: Roboto;
  text-transform: uppercase;
}

.logo-btn {
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 13px;
  color: var(--text-color-logo-adres-btn);
  background-color: var(--accent-text-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);
}
.logo-btn:hover,
.logo-btn:focus {
  background-color: var(--logo-btn-hover);
}


/*Основная часть страници*/

/*Особенности*/
.features {
  width: 1200px;
  margin: auto;
}
.features-list-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--filter-btn-tim-fon);
  border-radius: 4px;
  padding: 0;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}

.features-icon{
  margin: 0px;
  width: 70px;
  height: 70px;
}

.titel {
  margin-bottom: 10px;
  color: var(--titel-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-section {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.features-list {
  letter-spacing: 0.03em;
  margin-right: 30px;
  width: 270px;
}
.features-list:last-child {
  margin-right: 0;
}

.about-features {
  color: var(--primery-text-color);
  line-height: 1.71;
  letter-spacing: 0, 03em;
}

/*Примеры робот*/

.gallery-section {
  padding-top: 0;
}

.list-foto {
  display: flex;
}

.gallery-titel {
  margin-bottom: 50px;
  color: var(--titel-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.gellery-list {
  position: relative;
  margin-right: 30px;
}
.gellery-list:last-child {
  margin-right: 0;

}


.gellery-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 370px;
  height: 70px;
  background-color:rgba(47, 48, 58, 0.8);
 
}
.gellery-text{
  color: var(--text-color-logo-adres-btn);
      font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
 /* text-align: center;
 font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em; */
}

/*Команда   */
.team {
  background-color: var(--filter-btn-tim-fon);
}
.team-list {
  display: flex;
}
.team-titel {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
}
.team-section {
  text-align: center;
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--main-background-color);
}
.team-section:last-child {
  margin-right: 0;
}
.team-img {
  margin-bottom: 30px;
}

.team-titel,
.titel {
  color: var(--titel-text-color);
}
.titel-person {
  margin-bottom: 10px;
  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-position {
  margin-bottom: 16px;
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.18;
}
/* Иконки соц.сетей*/
.socials{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 16px 30px 30px 30px;
  
}

.socials-link {
  display: flex; 
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: var(--icon-color);

  transition-property: background-color,fill;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);
}

.socials-link:hover,
.socials-link:focus{
  fill: var(--text-color-logo-adres-btn);
  background-color: var(--accent-text-color);
}


/*Постоянные клиенты*/

.clients-titel{
 margin-bottom: 50px;
 text-align: center;
 font-size: 36px;
 line-height: 1.16;
 color: var(--titel-text-color);
}
.clients-list{
  display: flex;
  gap: 30px;
}

.clients-link-logo {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.clients-link-logo:hover,
.clients-link-logo:focus{
border-color: var(--accent-text-color);
}

.clients-link-logo:hover >
.clients-logo,
.clients-link-logo:focus >
.clients-logo{
  fill: var(--accent-text-color);
}

.clients-logo{
width: 106px;
height: 60px;
fill: var(--icon-color);

transition-property:fill;
transition-duration: 250ms;
transition-timing-function: var(--animation);
}

.clients-logo:hover,
.clients-logo:focus{
 fill: var(--accent-text-color) ;
}



/*Подвал */
.footer .container{
  display: flex;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-fond-color);
}

.footer-logo {
  display: block;
  font-family: Raleway;
  color: var(--text-color-logo-adres-btn);
  font-weight: bold;
  text-decoration: none;
  cursor: default;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
  
}

.footer-logo-accent {
  color: var(--accent-text-color);
}

.footer-contact-list {
  margin-bottom: 9px;
}
.footer-contact-list:last-child {
  margin-bottom: 0px;
}
.footer-contact-adress {
  color: var(--text-color-logo-adres-btn);
  text-decoration: none;

  line-height: 1.71;
  font-style: normal;
  display: block;
}

.footer-contact{
  text-decoration: none;
    line-height: 1.71;
    font-style: normal;
    display: block;
    color: var(--text-footer);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.footer-contact:hover,
.footer-contact:focus {
 color: var(--accent-text-color);
}

/*Социальные сети футер*/
.footer-social-list{
  margin-left: 70px;
}

.footer-titel-link {
  margin-bottom: 20px;
  color: var(--text-color-logo-adres-btn);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-socials{
  display: flex;
}
.footer-link-list{
margin-right: 10px;
}
.footer-link-list:last-child{
margin-right: 0px;
}

.footer-linc-icon{ 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--footer-icon);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);
}

.footer-linc-icon:hover,
.footer-linc-icon:focus{
background-color: var(--accent-text-color);
}

.footer-icon{
fill: var(--text-color-logo-adres-btn);
}

/*Подписка на рассылку*/
.sub{
  margin-left: 95px;
}
.footer-sub-titel{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}
.footer-sub{
outline: transparent;
width: 358px;
height: 50px;
padding-left: 16px;
border-radius: 4px;
color: var(--main-background-color);
background-color: var(--section-fond-color);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.sub-grup{
display: flex;
}


.footer-sub-btn{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  color: var(--main-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding-left: 28px;
  padding-right: 28px;
  padding-right: 0;
  border: transparent;
  cursor: pointer;
  }

  /* margin-top: 0px;
  padding: 0px;
  width: 200px;
  height: 50px;
  border:none;
  border-radius: 4px;
  background-color: var(--accent-text-color);
   */

.footer-btn-svg{
 width: 24px;
 height: 24px;
}

/*Портфолио*/

/*Кнопки фильтра*/
.list-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filtr-btn {
  padding: 6px 22px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;

  color: var(--titel-text-color);
  background: var(--filter-btn-tim-fon);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.62;

  transition-property:color, background-color, box-shadow ;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);
}
.filtr-btn:hover,
.filtr-btn:focus {
  color: var(--text-color-logo-adres-btn);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.activ-btn{
  color: var(--text-color-logo-adres-btn);
    background: var(--accent-text-color);
}

/* Галерея портфолио */
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.list-portfolio > .portfolio-section {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-section:nth-child(3n) {
  margin-right: 0;
}

.portfolio-section:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;
  text-decoration: none;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);
  
}

.portfolio-link:hover,
.portfolio-link:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
  .portfolio-link:hover .portfolio-thumb::before{
    transform: translateY(0);
  }

.portfolio-thumb{
  position: relative;
  overflow: hidden;
}
.portfolio-thumb::before{
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--animation);
 
}

.portfolio-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
         
    transform: translateY(100%);
    transition: transform 250ms var(--animation);
    
  }
 
 .portfolio-link:hover .portfolio-overlay{
   transform: translateY(0);
 }

.portfolio-about{
padding-left: 24px;
padding-right: 24px;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: var(--main-background-color);
}

.portfolio-card {
  border-left: 1px solid var(--border-portfolio);
  border-right: 1px solid var(--border-portfolio);
  border-bottom: 1px solid var(--border-portfolio);
  padding: 20px 24px;
}
.portfolio-titel {
  margin-bottom: 4px;
  color: var(--titel-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.about-portfolio {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
}

.backdrop.is-hidden {

  opacity: 0;
  pointer-events: none;
}

.modal {
  
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 40px;
width: 528px;
background-color: var(--main-background-color);

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.modal:hover,
.modal:focus {
border-color: var(--accent-text-color);
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--main-background-color);
  cursor: pointer;
  
  transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
  }

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-text-color);
}

.modal-icon {
  width: 11px;
  height: 11px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);
  
}
 
.modal-icon:hover,
.modal-icon:focus{
  fill: var(--logo-btn-hover);

}

.modal-titel{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titel-text-color);
}

.form-list {

}
.form-faild {
display: block;
flex-direction: column;
border-radius: 4px; 
margin-bottom: 10px;
}

.form-faild.last-child{
  margin-bottom: 20px;
}

.form-faild input{
margin: 0;
padding-left: 42px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
position: relative;
cursor: pointer;
}


.form-label{
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1,16;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);

  transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
  
}

.form-label-svg:hover,
.form-label-svg:focus{
  background-color: var(--accent-text-color);
}
   
.form-input-svg{
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
 }

 .form-input:hover,
 .form-input:focus{
  border-color: var(--accent-text-color);
}
.form-input:focus{
  outline: var(--accent-text-color)
}
.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--accent-text-color);
}



.form-icon{
  width: 18px;
  height: 18px;
 position: absolute;
 top: 50%;
 left: 12px;
 
 transform: translateY(-50%);
}


.comment{
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);
}

 .comment:hover,
 .comment:focus {
  border-color: var(--accent-text-color);
 }

 .comment:focus {
  outline: var(--accent-text-color)
 }


.placeholder{
  font-weight: 400;
    font-size: 12px;
    line-height: 1, 16;
    letter-spacing: 0.01em;
}

.form-agreement{
  margin-bottom: 30px;
}
.checkbox-label{
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.checkbox{
  appearance: none;
}

.checkbox:checked + .chec-ikon{
  background-color: var(--accent-text-color);

  background-image: url(../imeges/icon/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  border: var(--accent-text-color);
}

.chec-ikon{
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--titel-text-color);
border-radius: 4px;
margin-right: 4px;
}

.chec-link{
color: var(--accent-text-color);
}

.chec-btn{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-text-color);
color: var(--text-color-logo-adres-btn);
border-radius: 4px;
outline: var(--accent-text-color);
border: 0;



  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);
}

.chec-btn:hover,
.chec-btn:focus{
  background-color: var(--logo-btn-hover);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
}


/* 
.backdrop{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 165, 59, 0.06);
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate();
} */
